$contentWidth: 960px;
$bgColor: #101010;
$textColor: #d0d0d0;
$bgAccentColor: #6a100e;

$accentColor: #6a100e;
$accentColorLight: #a81e22;
$accentColorDark: #470d0b;

html {
  min-height: 100%;
  display: flex;
}

body {
  flex: 1;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 100%;
  color: $textColor;
  background-color: $bgColor;
  font-family: sans-serif;
}

app-root {
  flex: 1;
}

etwin-main-layout, etwin-small-layout {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  & > header {
    // The header is built with the following layers (ordered from the front to the back):
    // 1. Light effect on the bottom border
    // 2. Bottom border
    // 3. Banner image
    // 4. Red background gradient

    $bannerHeight: 109px;
    $bannerWidth: 1100px;
    $borderHeight: 3px;

    $borderColor: #a39fb9;
    $borderLightColor: #ffffff;
    $bgShadowColor: #2d0706;
    $bgColor: #6a100e;

    height: $bannerHeight + $borderHeight;
    background-color: $bgColor;

    background-size: $bannerWidth $borderHeight, 1px $borderHeight, auto, 1px $bannerHeight;
    background-image:
      linear-gradient(to right, $borderColor, $borderLightColor 50%, $borderColor),
      linear-gradient($borderColor, $borderColor),
      url("/assets/banner.png"),
      linear-gradient(lighten($bgShadowColor, 5%) 0%, $bgColor 68%, $bgColor 78%, lighten($bgShadowColor, 2%) 100%);
    background-repeat: no-repeat, repeat-x, no-repeat, repeat-x;
    background-position: bottom center, bottom center, top center, top center;

    h1 {
      margin: 0;
      padding: 0;
      a {
        display: block;
        text-align: center;
        width: $bannerWidth / 2;
        height: $bannerHeight;
        color: transparent;
        margin: auto;
        overflow: hidden;
        padding: 2rem 0;
      }
    }
  }

  & > .star-bg {
    flex: 1;
    background-image: url("/assets/bg-star.svg");
    background-repeat: no-repeat;
    background-position: center -592px;
  }
}

.content, footer {
  margin: 1em auto;
  width: $contentWidth;
  border: 1px solid lighten($bgColor, 20%);
  background-color: lighten($bgColor, 5%);
  padding: 1em;
  a {
    color: $accentColorLight;
  }
}

.error {
  border: 1px solid $accentColor;
  border-radius: 0.25rem;
  padding: 0.5rem;
  background-color: rgba(31, 0, 0);
  font-size: 0.8em;
}

.info {
  margin: 0.5rem 0;
  font-size: 0.8em;
}

label, input {
  display: block;
}

$spacing: 1rem;

label {
  margin: $spacing 0;
}

input, select {
  width: 100%;
  height: 2.5em;
  margin-top: 0.3em;
  padding: 0.5em;
}
