<form>
  <div class="active_method">
    <img src="/assets/login-methods/twinoid.png"/>
    <ng-container i18n="@@login.method.hammerfest">Sign in with Twinoid</ng-container>
  </div>
  <input type="submit" name="sign_in" class="btn primary" i18n-value="Submit the Twinoid login form label@@login.twinoid.submit"
         value="Sign in (Soon)" disabled="disabled"/>
</form>
