<etwin-small-layout>
  <div class="content">
    <ng-container [ngSwitch]="method">
      <ng-container *ngSwitchCase="AuthMethod.Hammerfest">
        <etwin-login-hammerfest></etwin-login-hammerfest>
      </ng-container>
      <ng-container *ngSwitchCase="AuthMethod.Twinoid">
        <etwin-login-twinoid></etwin-login-twinoid>
      </ng-container>
      <ng-container *ngSwitchDefault>
        <etwin-login-etwin></etwin-login-etwin>
      </ng-container>
    </ng-container>
    <p>
      <a routerLink="/register" i18n="@@login.registrationLink">Need an account? Register</a>
    </p>
  </div>
  <div class="content login_methods">
    <a routerLink="/login" [queryParams]="{method: 'etwin'}" class="btn" *ngIf="method !== AuthMethod.Etwin">
      <img src="/assets/login-methods/eternal-twin.png"/>
      <ng-container i18n="@@login.method.etwin">Sign in with Eternal-Twin</ng-container>
    </a>
    <a routerLink="/login" [queryParams]="{method: 'twinoid'}" class="btn" *ngIf="method !== AuthMethod.Twinoid">
      <img src="/assets/login-methods/twinoid.png"/>
      <ng-container i18n="@@login.method.twinoid">Sign in with Twinoid (Soon)</ng-container>
    </a>
    <a routerLink="/login" [queryParams]="{method: 'hammerfest'}" class="btn" *ngIf="method !== AuthMethod.Hammerfest">
      <img src="/assets/login-methods/hammerfest.png"/>
      <ng-container i18n="@@login.method.hammerfest">Sign in with Hammerfest</ng-container>
    </a>
  </div>
</etwin-small-layout>
